
.userInfo {
  min-width: 30%;
  padding: 40px;
  display: flex;
  justify-content: center;

  .container {
    width: 302px;

    .imageBlock {
      left: 0;
      width: 280px;
      height: 280px;
      border-radius: 50%;
      background-color: grey;
      overflow: hidden;
      margin-bottom: 29px;
      margin-right: 96px;

      > img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        vertical-align: middle;
      }
    }

    .userName {
      font-size: 26px;
      font-weight: 600;
      line-height: 33.8px;
      text-align: left;
      margin-bottom: 12px;
    }

    .login {
      color: #0064EB;
      font-size: 18px;
    }

    .followersBlock {
      margin-top: 25px;
      line-height: 24px;
    }
  }
}

@media (min-width: 320px) and (max-width: 770px) {
  .userInfo {
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;

    .container {
      .imageBlock {
        width: 280px;
        height: 280px;
        margin-bottom: 20px;
        align-self: flex-start;
      }
    }
  }
}