
.repositoriesBlock {
  width: 68%;
  position: relative;

  > h2 {
    margin-top: 28px;
    margin-bottom: 29px;
    font-size: 32px;
    font-weight: 600;
    line-height: 41.6px;
  }

  .repositoriesItems {
    width: 100%;
    margin-bottom: 90px;

    .repository {
      background-color: #FFFFFF;
      width: 94%;
      min-height: 112px;
      margin-bottom: 24px;
      padding: 24px 32px;
      border-radius: 6px;

      > a {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        color: #0064EB;
        display: inline-block;
        padding-bottom: 16px;
      }

      > p {
        line-height: 19px;
        font-size: 16px;
      }
    }
  }

  .pagination {
    position: absolute;
    bottom: 28.5px;
    right: 69px;
    display: inline-flex;
    align-items: center;

    .paginationInfoText {
      font-size: 14px;
      line-height: 21px;
      color: #808080;
      margin-right: 23px;
    }
  }
}

@media (min-width: 300px) and (max-width: 770px) {
  .repositoriesBlock {
    width: 100%;
    padding: 0 20px;

    .repositoriesItems {
      margin-bottom: 90px;

      .repository {
        width: 100%;
      }
    }

    .pagination {
      padding: 0 20px;
      position: absolute;
      bottom: 8px;
      right: 0;

      .paginationInfoText {
        margin-right: 7px;
      }
    }
  }
}